/* :root {
  --line-width: "0px";
  --line-offset: "0px";
  --animation-duration: 0;
  --animation-timing-function: "linear";
  --animation-delay: "0s";
  --height-offset: "0px";
}

.drawLine {
  stroke-dasharray: var(--line-width);
  stroke-dashoffset: var(--line-offset);
  animation: draw-line var(--animation-duration) var(--animation-delay) var(--animation-timing-function) forwards;
}

.fadeLine {
  opacity: 0;
  animation: fade-line var(--animation-duration) var(--animation-delay) var(--animation-timing-function) forwards;
}

.moveLine {
  animation: move-line var(--animation-duration) var(--animation-delay) var(--animation-timing-function) forwards;
}

@keyframes draw-line {
  from {
    stroke-dashoffset: var(--line-offset);
  }

  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fade-line {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-line {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(var(--height-offset));
  }
} */

:root {
  --line-width: "0px";
  --line-offset: "0px";
  --animation-duration: 0;
  --animation-timing-function: "linear";
  --animation-delay: "0s";
  --height-offset: "0px";
}

.drawLine {
  stroke-dasharray: var(--line-width);
  stroke-dashoffset: var(--line-offset);
  animation: draw-line var(--animation-duration) var(--animation-delay) var(--animation-timing-function) forwards; 
}

.fadeLine {
  opacity: 0;
  animation: fade-line var(--animation-duration) var(--animation-delay) var(--animation-timing-function) forwards;
}

.moveLine {
  animation: move-line var(--animation-duration) var(--animation-delay) var(--animation-timing-function) forwards;
}

@keyframes draw-line {
  from {
    stroke-dashoffset: var(--line-offset);
  }

  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fade-line {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-line {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(var(--height-offset));
  }
}