:root {
  --animation-duration: 0;
  --animation-timing-function: "linear";
  --animation-delay: "0s";
  --move-from: "0px";
  --move-to: "0px";
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.typeLabel {
  /* overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: type-label var(--animation-duration) var(--animation-delay) var(--animation-timing-function) forwards;

  width: 0; */


  background-color: rebeccapurple;

  /* display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: type-label;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards; */
}

.fadeLabel {
  opacity: 0;
  animation: fade-label var(--animation-duration) var(--animation-delay) var(--animation-timing-function) forwards;
}

.moveLabel {
  animation: move-label var(--animation-duration) var(--animation-delay) var(--animation-timing-function) forwards;
}

@keyframes type-label {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes fade-label {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes move-label {
  0% {
    transform: translate(var(--move-from));
  }

  100% {
    transform: translate(var(--move-to));
  }
}