{
  "endOfLine": "auto",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 150,
  "trailingComma": "none",
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid"
}
