.pie {
  --animation-duration: 0s;
  --animation-delay: 0s;
  --animation-timing-function: linear;
  --animation-scale: 0;
  --pie-piece-color: red;
}

.pie-piece__hover {
  transition: transform var(--animation-duration) var(--animation-delay)
    var(--animation-timing-function);
  transform: scale(var(--animation-scale));
}

@keyframes fillAnimation {
  from {
    fill: transparent;
  }
  to {
    fill: conic-gradient(#ab3e5b calc(50 * 1%), #ef746f 0%);
    /* fill: conic-gradient(red 50%, transparent 0); */
  }
}

/* .pie-piece__path {
  animation: fillAnimation 2s ease-out forwards;
} */
