  :root {
    --line-width: "0px";
    --line-offset: "0px";
    --animation-delay: 0;
    --animation-duration: 0;
  }

  .grid-line {
    stroke-dasharray: var(--line-width);
    stroke-dashoffset: var(--line-offset);
    animation: draw-line var(--animation-duration) linear .0s forwards;
  }

  @keyframes draw-line {
    from {
      stroke-dashoffset: var(--line-offset);
    }

    to {
      stroke-dashoffset: 0px;
    }
  }